<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>AtlasServices</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>GetLocalizations</display-name>
    <servlet-name>GetLocalizations</servlet-name>
    <servlet-class>atlasWebServices.GetLocalizations</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetLocalizations</servlet-name>
    <url-pattern>/GetLocalizations</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>description</description>
    <display-name>GetAvailableTags</display-name>
    <servlet-name>GetAvailableTags</servlet-name>
    <servlet-class>atlasWebServices.GetAvailableTags</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAvailableTags</servlet-name>
    <url-pattern>/GetAvailableTags</url-pattern>
  </servlet-mapping>
  <servlet>
  	<description>description</description>
  	<display-name>SimulateTagLocalizations</display-name>
  	<servlet-name>SimulateTagLocalizations</servlet-name>
  	<servlet-class>atlasWebServices.SimulateTagLocalizations</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>SimulateTagLocalizations</servlet-name>
  	<url-pattern>/SimulateTagLocalizations</url-pattern>
  </servlet-mapping>
  <servlet>
  	<description>description</description>
  	<display-name>GetDetections</display-name>
  	<servlet-name>GetDetections</servlet-name>
  	<servlet-class>atlasWebServices.GetDetections</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>GetDetections</servlet-name>
  	<url-pattern>/GetDetections</url-pattern>
  </servlet-mapping>
    <servlet>
  	<description>description</description>
  	<display-name>Login</display-name>
  	<servlet-name>Login</servlet-name>
  	<servlet-class>atlasWebServices.Login</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Login</servlet-name>
  	<url-pattern>/Login</url-pattern>
  </servlet-mapping>
</web-app>